body {
    background-color: black !important;
    filter: invert(0.8);
}

img {
    filter: invert(1) !important;
}

[role="img"] {
    filter: invert(1) !important;
}
/* only for swagger ui */
#operations-tag-basic-error-controller,#operations-tag-operation-handler,#operations-tag-web-mvc-links-handler {
    display: none;
}
